PORT=8787
GOOGLE_SHEETS_ID=ganti_dengan_id_spreadsheet_anda
GOOGLE_SERVICE_ACCOUNT_EMAIL=posyandu-sa@PROJECT_ID.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nGANTI_DENGAN_ISI_PRIVATE_KEY_DARI_JSON\n-----END PRIVATE KEY-----\n"
SHEET_IBU=Ibu
SHEET_ANAK=Anak
